---
apiVersion: v1
clusters:
  - cluster:
      certificate-authority: "{{ kubernetes_ca_certificate_path }}"
      server: "{{ kubernetes_control_plane_endpoint }}"
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: {{ kubernetes_cni_plugin_name }}-cni
    name: default
current-context: ""
kind: Config
preferences: {}
users:
  - name: {{ kubernetes_cni_plugin_name }}-cni
    user:
      client-certificate: "{{ kubernetes_cni_certificate_path }}"
      client-key-data:  "{{ kubernetes_cni_privatekey_path }}"
