---
apiVersion: v1
clusters:
  - cluster:
      certificate-authority: "{{ kubernetes_ca_crt }}"
      server: "https://{{ kubernetes_control_plane_endpoint }}:{{ kubernetes_api_port }}"
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: {{ kubernetes_cni_plugin_name }}-cni
    name: default
current-context: default
kind: Config
preferences: {}
users:
  - name: {{ kubernetes_cni_plugin_name }}-cni
    user:
      client-certificate: "{{ kubernetes_cni_crt }}"
      client-key:  "{{ kubernetes_cni_key }}"
